# Better ls
alias ls="lsd"
alias ll="lsd -l"
alias la="lsd -la"

{{- if and (lookPath "bat") (not .isWork) }}
# Better cat
alias cat="bat"
alias rcat="/bin/cat"  # real cat
{{- end }}

# Tools
alias tldr="tldr -t base16 -o osx"
alias psql="pgcli"
alias mpv="/opt/homebrew/bin/mpv --autofit=90%x90% --image-display-duration=5.000"

# Python
alias py3="PYTHONWARNINGS=ignore ipython"

# Terraform
alias tf="terraform"
alias tfi='terraform init -backend-config=$TF_BACKEND_CONFIG'
alias tfp='terraform plan $TF_CLI_PARAMS -lock=false'
alias tfa='terraform apply $TF_CLI_PARAMS'

# Git
{{- if lookPath "hub" }}
alias git="hub"
{{- end }}

# Misc
{{- if lookPath "thefuck" }}
eval $(thefuck --alias)
{{- end }}

{{- if .isWork }}
# Work
alias load_python_path="load_python_path.sh > /tmp/cr_python_paths.sh && source /tmp/cr_python_paths.sh"
alias tldex='tldextract --update --private_domains -c $TLDEXTRACT_CACHE'
{{- end}}