[init]
	defaultBranch = main

[user]
	name = Samson Danziger
	email = {{ .email }}

[core]
    editor = nvim
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore
{{ if lookPath "delta" }}
    pager = delta
{{ end }}
    
[push]
	autoSetupRemote = true

[help]
	autocorrect = 25

[interactive]
	diffFilter = delta --color-only

[color]
    ui = true

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "grep"]
  selected = normal
  linenumber = yellow bold
  match = red bold
  filename = magenta
  context = cyan
  function = green
  separator = blue

[grep]
  lineNumber = true
  patternType = extended

{{- if .isWork }}
[alias]
  trigger = commit -m "Trigger" --allow-empty
{{- end }}
