[init]
	defaultBranch = main

[user]
	name = Samson Danziger
	email = {{ .email }}

[core]
	editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	pager = delta
    
[push]
	autoSetupRemote = true

[help]
	autocorrect = 25

[interactive]
	diffFilter = delta --color-only

[color]
    ui = true

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
